{% assign docs_by_category = site.documentation | group_by: "category" %}
<footer class="footer" role="contentinfo" aria-label="Site footer">
    <div class="copyright" role="contentinfo" aria-label="Copyright">
        <p>&copy;
            <script type="text/javascript">
                document.write(new Date().getFullYear());
            </script> AngularDoc</p>
        <div class="right">
            <div class="socials" role="navigation" aria-label="Social links">
                <ul role="menu" aria-hidden="true" aria-label="Social link">
                    <li role="listitem"><a href="{{ site.github.repository_url }}" target="_blank" role="link" aria-label="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                    <li role="listitem"><a href="https://twitter.com/{{ site.twitter.username }}" target="_blank" role="link" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li role="listitem" class="angulardoc">
                        <a href="{{ site.url }}" class="avatar" role="link" aria-label="{{ site.github.repository_name }}">
                            <img src="{{ '/assets/img/logo/DAlogo32-2.png'}}" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>