<head>
  <meta charset="utf-8">
  <meta name="viewport" width="device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
  <title>{{ page.title }} | AngularDoc</title>
  <!-- styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <!-- scripts -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{{ '/assets/js/lib/jquery-3.2.1.min.js' | relative_url }}"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
  <script src="{{ '/assets/js/lib/popper.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lib/bootstrap-4.0.0-beta-dist/js/bootstrap.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/lib/lodash.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/index.js'}}"></script>
</head>