<div class="hero is-default is-bold">
    <div class="hero-head">
        <div class="container">
            <nav class="nav has-shadow">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item" href="{{ '/' | relative_url }}">
                            <img alt="{{ site.title | escape }}" src="{{ '/assets/img/logo/DAlogo1.png' | relative_url }}" role="img" aria-label="Logo" />
                            <span class="nav-item">AngularDoc</span>
                        </a>
                    </div>
                    <span class="nav-toggle">
                        <span></span>
                    <span></span>
                    <span></span>
                    </span>
                    <div id="menu-route" class="nav-right nav-menu">
                        {% for item in site.menu %}
                        
                        {% if item.title == 'Contact' %}
                            <a  href="{{ item.url | relative_url }}" style="margin: 8px 0;" class="button is-primary">
                                {{ item.title | escape }}
                            </a> 
                        {% else %}
                            <a href="{{ item.url | relative_url }}" class="nav-item is-tab">{{ item.title | escape }}</a> 
                        {% endif %}
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                        var href = window.location.href;
                        $('#menu-route > a').each(function (index, item) {
                            if(href.indexOf(item.href)>-1){
                                $(item).addClass('is-active');
                            }else{
                                $(item).removeClass('is-active');
                            }
                        })
                    </script>
                </div>
            </nav>
        </div>
    </div>
</div>