.carousel-main{
  color: #FFFFFF;
  padding-top: $home-landing-padding;
  padding-bottom: $home-landing-padding;
  width: 80%;
  margin: 0 auto;
  .carousel-item{
    img{
      width: 100%;
      height: 100%;
    }
  }
}