.downloads-section{
  margin-top: $header-height;
  border-bottom: 1px solid #e5eff5;
  background: linear-gradient(#f8fafc,#f4f8fb);
  display: flex;
  flex-flow: row;
  .carousel-main{
    flex: 1 1 auto;
  }
  .inner{
    flex: 0 0 atuo;
    width: 325px;
    padding: 20px 2vw;
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 1030px;
    .card{
      width: 225px;
      height: 225px;
      margin: 20px;
      flex: 0 0 auto;
      .card-body{
        .fa{
          font-size: 6em;
        }
        .btn{
          .fa{
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
