#showcases{
  display: flex;
  flex-flow: row wrap;
  padding: 10em;
}
.hero{
  .nav-right{
    .button{
      background-color: #23d160;
    }
  }
}
.hero-body{
}
.home{
  position: relative;
  height: 600px;
  padding: 40px 0 240px;
  // background-image: url('../../assets/img/background.jpg');
  // background-repeat: repeat;
  // background-color: #939393;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#727272), to(rgba(189, 189, 189, 0.50)));  
  background-position: 50% 0;
  background-size: auto, auto 100%;
  .columns{
    display: flex;
    flex-flow: column;
    .hero{
      flex-flow: row;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
      overflow: hidden;
      > .columns{
        flex-flow: row;
      }
      .logo{
        .logo-container{
          display: flex;
          flex-flow: row;
          img{
            width: 120px;
            height: 120px;
          }
          .desc{
            line-height: 120px;
            text-indent: 20px;
            font-size: 1.5rem;
            color:#fff;
          }
        }
      }
      .download{
        display: flex;
        .download-container{
          flex: 1;
          display: flex;
          flex-flow: column;
          .apple,.windows{
            flex: 1;
            display: flex;
            flex-flow: column;
            text-align: center;
            padding: .75em 6em;
            .fa{
              &.fa-windows,&.fa-apple{
                color: #fff;
                font-size: 24px;
                font-size: 66px;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
    .slide-images{
      .image{
        position: relative;
        #slide-copilot{
          .slide{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            max-width: 100%;
            z-index: 100;
            opacity: 0;
            transition: 0.6s ease-in-out 0s;
            transition-property: opacity,display;
            &:first-child {
              position: relative;
              display: block;
            }
            &.active {
              opacity: 1;
              z-index: 90;
            }
          }
        }
      }
    }
  }
}
@include media-query-max($on-mobile) {
  .home {
    > section {
      padding-left: $base-mobile-padding;
      padding-right: $base-mobile-padding;
      padding-top: $home-section-padding - 20;
      padding-bottom: $home-section-padding - 20;
    }

    .company-gallerys {
      .gallery {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $on-mobile + 1) and (max-width: $on-desktop - 1) {
  .home {
    > section {
      padding-left: $base-tablet-padding;
      padding-right: $base-tablet-padding;
    }

    .company-gallerys {
      .gallery {
        width: (100% / 2);
      }
    }
  }
}

@include media-query-min($on-desktop) {
  .home {
    > section {
      padding-left: $base-desktop-padding;
      padding-right: $base-desktop-padding;
    }

    .company-gallerys {
      .gallery {
        width: (100% / 3);
      }
    }
  }
}