#showcases{
  display: flex;
  flex-flow: row wrap;
  padding: 10em;
}
@include media-query-max($on-mobile) {
  .home {
    > section {
      padding-left: $base-mobile-padding;
      padding-right: $base-mobile-padding;
      padding-top: $home-section-padding - 20;
      padding-bottom: $home-section-padding - 20;
    }

    .company-gallerys {
      .gallery {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $on-mobile + 1) and (max-width: $on-desktop - 1) {
  .home {
    > section {
      padding-left: $base-tablet-padding;
      padding-right: $base-tablet-padding;
    }

    .company-gallerys {
      .gallery {
        width: (100% / 2);
      }
    }
  }
}

@include media-query-min($on-desktop) {
  .home {
    > section {
      padding-left: $base-desktop-padding;
      padding-right: $base-desktop-padding;
    }

    .company-gallerys {
      .gallery {
        width: (100% / 3);
      }
    }
  }
}