.services{
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 0 12em;
  .title{
    padding-top: 1em;
    font-weight: 300;
  }
  .services-title{
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0 2.75em;
  }
  .columns{
    flex-flow: row wrap;
    justify-content: center;/*水平居中*/
    margin-top:0;
    .column{
      flex-grow:0;
      padding: 0 1.5em;
    }
    .card{
      display: flex;
      flex-flow: column;
      width: 10em;
      height: 16em;
      box-shadow: 0 0 0;
      .card-image{
        flex: 1;
        display: flex;
        align-items:center;/*垂直居中*/
        justify-content: center;/*水平居中*/
        .image{
          display: flex;
          align-items:center;/*垂直居中*/
          justify-content: center;/*水平居中*/
          flex: 1;
          width: 144px;
          height: 159px;
          border-radius: 50%;
          box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
          img{
            width: 90px;
            height: 90px;
          }
          &.node{
            background: #333;
          }
          &.vscode{
            background: #373277;
          }
          &.angular,&.upgrade{
            img{
              width: 100%;
              height: 100%;
            }
          }
          &.upgrade{
            img{
              margin-bottom: -23px;
            }
          }
          &.react{
            background: #333;
            img{
              border-radius: 50%;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .card-content{
        flex: 0 0 auto;
        height: 5em;
        text-align: center;
        padding: 0;
      }
    }
        /* margin-bottom: -.75rem; */
    &:last-child {
      margin-bottom: .75rem;
    }
  }
}
.resources{
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 2em 12em;
  .columns{
    display: flex;
    flex-flow: row wrap;
    .column{
      display: flex;
    }
  }
  .image{
    .embed-container {
      position: relative;
      padding-bottom: 53.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.contact{
  flex: 1;
  padding: 0.75rem 0;
  .container{
    padding: 0 20em;
    .field{
      .label{
        text-align: left;
      }
    }
  }
}
.downloads{
  .container{
    display: flex;
    flex-flow: row nowrap;
    .columns{
      display: flex;
      flex-flow: column;
      flex: 0 0 auto;
      width: 30%;
      min-width: 200px;
      justify-content: right;
      .column{
        display: flex;
        flex-flow: column;
        flex: 0 0 auto;
        height: 200px;
        > .fa{
          font-size: 72px;
          margin-bottom: 10px;
        }
        > a{
          display: inline-table;
          text-align: center;
          justify-content: center;
        }
      }
    }
    .image{
      flex: 1;
      margin-left: 20px;
      display: flex;
      align-items:center;/*垂直居中*/
      justify-content: center;/*水平居中*/
      img{
        margin: 0 auto;
        width: 800px;
        height: 520px;
      }
    }
  }
}
.products{
  flex: 1;
  .products-card{
    margin: 2em 0 ;
    flex: 1;
    .subtitle{
      text-align: left;
    }
    ul{
      list-style-type: none;
      display: flex;
      flex-flow: column;
      li{
        flex: 1;
        display: -webkit-inline-box;
        height: 24px;
        line-height: 24px;
        .fa{
          margin-right: 4px;
        }
      }
    }
  }
}
