.services{
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 0 12em;
  .columns{
    flex-flow: row wrap;
    .card{
      display: flex;
      flex-flow: column;
      height: 16em;
      box-shadow: 0 0 0;
      .card-image{
        flex: 1;
        display: flex;
        align-items:center;/*垂直居中*/
        justify-content: center;/*水平居中*/
        .image{
          display: flex;
          align-items:center;/*垂直居中*/
          justify-content: center;/*水平居中*/
          flex: 1;
          width: 9em;
          height: 9em;
          border-radius: 12em;
          box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
          img{
            width: 90px;
            height: 90px;
          }
          &.node{
            background: #333;
          }
          &.vscode{
            background: #373277;
          }
          &.angular,&.upgrade{
            img{
              width: 100%;
              height: 100%;
            }
          }
          &.upgrade{
            img{
              margin-bottom: -23px;
            }
          }
          &.react{
            background: #333;
            img{
              border-radius: 50%;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .card-content{
        flex: 0 0 auto;
        height: 5em;
        text-align: center;
        padding: 0;
      }
    }
  }
}
.resources{
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 0 12em;
  .columns{
    display: flex;
    flex-flow: row wrap;
    .column{
      display: flex;
    }
  }
  .image{
    .embed-container {
      position: relative;
      padding-bottom: 53.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}