--- 
layout: default 
---
<div class="contact">
  <div class="container has-text-centered">
    <div class="field">
      <div id="email" class="control has-icons-left has-icons-right">
        <input id="contactEmail" class="input" type="email" onblur="requiredInput(this.value)" onpropertychange="validate(this.value)" oninput="validate(this.value)"
          placeholder="Your email" value="">
        <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        <!-- <span class="icon is-small is-right">
            <i class="fa fa-warning"></i>
          </span> -->
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input id="contactSubject" class="input" type="text" placeholder="Subject">
      </div>
    </div>

    <div class="field">
      <div class="control">
        <textarea id="contactMessage" class="textarea" placeholder="Message"></textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button onClick="contact();" class="button is-primary">Submit</button>
      </div>
    </div>
  </div>
  <div id="success-dialog" style="display:none;" title="Thank you">
    <p>Thank you for contacting us. We will get in touch with you shortly.</p>
  </div>
</div>