<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">
<!-- head -->
{% include head.html %}

<body>
    <!-- header -->
    {% include header.html %}
    <!-- main content -->
    <main class="main" role="main">
        {{ content }}
        <div id="back-to-top" role="button" aria-label="Back to top">
            <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        </div>
    </main>
    <!-- footer -->
    {% include footer.html %}
    <!-- scripts -->
    <!-- {% include scripts.html %} -->
</body>

</html>