--- 
layout: default 
---
<div class="downloads-section">
  {% include carousel.html %}
  <div class="inner">
    <div class="card text-center">
      <div class="card-body">
        <i class="fa fa-windows" aria-hidden="true"></i>
        <h4 class="card-title">Windows</h4>
        <button type="button" class="btn btn-default">
            <i class="fa fa-download" aria-hidden="true"></i> Download
        </button>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <i class="fa fa-apple" aria-hidden="true"></i>
        <h4 class="card-title">Max</h4>
        <button type="button" class="btn btn-default">
            <i class="fa fa-download" aria-hidden="true"></i> Download
        </button>
      </div>
    </div>
  </div>
</div>