--- 
layout: default 
---
<div class="downloads">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <h2 class="subtitle">Copilot</h2>
      <div class="column">
        <i class="fa fa-apple"></i>
        <a class="button is-success">
              <i class="fa fa-download"></i> Download For Mac
            </a>
      </div>
      <div class="column">
        <i class="fa fa-windows"></i>
        <a class="button is-success">
            <i class="fa fa-download"></i> Download For Windows
        </a>
      </div>
    </div>
    <div class="image">
      <img src="{{ '/assets/img/1.png' | relative_url }}" alt="Description">
    </div>
  </div>
</div>