--- 
layout: default 
---
<div class="home">
    <div class="columns is-vcentered">
        <div class="column is-8 hero">
            <div class="columns">
                <div class="column is-7 logo">
                    <div class='logo-container'>
                        <img src="{{ '/assets/img/logo/DAlogo1.png'}}" role="img" aria-label="AngularDoc" />
                        <h2 style="" class="desc subtitle">Angular Copilot</h2>
                    </div>
                    <h2 style="color:#fff;" class="subtitle is-4">
                        Architectural analysis and visualization for Angular 2 projects and Angular 1.x projects
                    </h2>
                </div>
                <div class="column is-5 download">
                    <div class="columns download-container">
                        <div class="column apple">
                            <i class="fa fa-apple"></i>
                            <a class="button is-success">
                                <i class="fa fa-download"></i> Download For Mac
                            </a>
                        </div>
                        <div class="column windows">
                            <i class="fa fa-windows"></i>
                            <a class="button is-success">
                                <i class="fa fa-download"></i> Download For Windows
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-8 slide-images">
            <figure class="image is-4by2">
                <div id="slide-copilot">
                    <img class="slide active" src="{{ '/assets/img/1.png' | relative_url }}" />
                    <img class="slide" src="{{ '/assets/img/2.png' | relative_url }}" />
                    <img class="slide" src="{{ '/assets/img/3.png' | relative_url }}" />
                    <img class="slide" src="{{ '/assets/img/4.png' | relative_url }}" />
                    <img class="slide" src="{{ '/assets/img/5.png' | relative_url }}" />
                </div>
                <script>
                    var item = $(".slide");
                    var i = 0;
                    var _i;
                    var _switch = function () {
                        if (i < 0) {
                            i = item.length - 1;
                        } else if (i > item.length - 1) {
                            i = 0;
                        }
                        if (i - 1 < 0) {
                            _i = item.length - 1;
                        } else {
                            _i = i - 1;
                        }
                        $(item[i]).addClass("active");
                        $(item[_i]).removeClass("active");
                        i++;
                    }
                    setInterval(_switch, 4000);
                </script>
            </figure>
        </div>
    </div>
    <!-- <div id="showcases" class="columns">
        <script src="{{ '/assets/js/getShowcases.js' | relative_url }}"></script>
    </div> -->
    <!-- <article class="home" role="article">
    <section class="container landing" role="document">
        <h1 class="title" role="presentation">AngularDoc</h1>
        <h3 class="title">
            Architectural analysis and visualization for Angular 2 projects and Angular 1.x projects
        </h3>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Get started
        </button>
    </section>
    <section class="showcases" role="showcases">
        <div id="showcases" class="container">

        </div>
        <script src="{{ '/assets/js/getShowcases.js' | relative_url }}"></script>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</article> -->