--- 
layout: default 
---
<div class="home">
    <div class="columns is-vcentered">
        <div class="column is-8 hero">
            <div class="columns" style="width:100%;">
                <div class="column logo">
                    <div class='logo-container'>
                        <img src="{{ '/assets/img/logo/DAlogo1.png'}}" role="img" aria-label="AngularDoc" />
                        <h2 style="" class="desc subtitle">Angular Copilot</h2>
                    </div>
                    <div class="feature-container columns has-text-center">
                        <div class="column is-4">
                            <a class="modal-button" data-target="slide-images-modal"><img src="{{ '/assets/img/1-1.png'}}" role="img" /></a>
                            <p class="desc">Angular development tooling based on Electron Desktop</p>
                        </div>
                        <div class="column is-4">
                            <a class="modal-button" data-target="slide-images-modal"><img src="{{ '/assets/img/2-2.png'}}" role="img" /></a>
                            <p class="desc"> Architectural analysis and visualization for AngularJS &amp; Angular projects</p>
                        </div>
                        <div class="column is-4">
                            <a class="modal-button" data-target="slide-images-modal"><img src="{{ '/assets/img/3-3.png'}}" role="img" /></a>
                            <p class="desc"> Automation and management of AngularJS-to-Angular migration </p>
                        </div>
                    </div>
                    <div class="learn-more">
                        <a class="button is-primary" href="/products">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-8 video-images">
            <figure class="image is-4by2">
                <a class="button is-primary modal-button is-large" data-target="modal">
                    <i class="fa fa-play"></i>
                </a>
                <img class="active" src="{{ '/assets/img/1.png' | relative_url }}" />
            </figure>
        </div>
    </div>
    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content" style="width:800px;height:600px;">
            <iframe style="width:100%;height:100%;display:block;" title="YouTube video player" src="//www.youtube.com/embed/k8b0uC-n7uQ"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div id="slide-images-modal" class="modal slide-images-modal">
        <div class="modal-background"></div>
        <div class="modal-content" style="width:800px;height:441px;">
            <div class="slide-images">
                <figure class="image is-4by2">
                    <div id="slide-copilot">
                        <img class="slide active" src="{{ '/assets/img/6.png' | relative_url }}" />
                        <img class="slide" src="{{ '/assets/img/1.png' | relative_url }}" />
                        <img class="slide" src="{{ '/assets/img/2.png' | relative_url }}" />
                        <img class="slide" src="{{ '/assets/img/3.png' | relative_url }}" />
                        <img class="slide" src="{{ '/assets/img/4.png' | relative_url }}" />
                    </div>
                    <script>
                        var item = $(".slide");
                        var i = 0;
                        var _i;
                        var _switch = function () {
                            var isShow = $("#slide-images-modal").hasClass('is-active');
                            if (isShow) {
                                if (i > item.length - 1) {
                                    i = 0;
                                }
                                if (i == 0) {
                                    _i = item.length - 1
                                } else {
                                    _i = i - 1;
                                }
                                console.log(i, _i);
                                $(item[i]).addClass("active");
                                $(item[_i]).removeClass("active");
                                i++;
                            } else {
                                return;
                            }
                        }
                        setInterval(_switch, 4000);
                    </script>
                </figure>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>