--- 
layout: default 
---
<div class="products">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-6" style="display:flex;">
        <div class="card products-card">
          <header class="card-header">
            <p class="card-header-title">
              Copilot
            </p>
            <!-- <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a> -->
          </header>
          <div class="card-content">
            <div class="content">
              <div class="columns">
                <div class="column is-6">
                  <h2 class="subtitle">Free</h2>
                  <ul>
                    <li>
                      <i aria-hidden="true" class="fa fa-tachometer"></i>
                      <p>Repository Dashboard</p>
                    </li>
                    <li>
                      <i aria-hidden="true" class="fa fa-bars"></i>
                      <p>Architecture Diagram</p>
                    </li>
                    <li>
                      <i aria-hidden="true" class="fa fa-code"></i>
                      <p>Class Browser</p>
                    </li>
                    <li>
                      <i aria-hidden="true" class="fa fa-th-large"></i>
                      <p>Module Diagram</p>
                    </li>
                    <li>
                      <i aria-hidden="true" class="fa fa-code-fork"></i>
                      <p>Route Tree Diagram</p>
                    </li>
                    <li>
                      <i aria-hidden="true" class="fa fa-exchange"></i>
                      <p>Import Diagram</p>
                    </li>
                  </ul>
                </div>
                <div class="column is-6">
                  <h2 class="subtitle">Price</h2>
                  <ul>
                    <li>
                      <i aria-hidden="true" class="fa fa-tachometer"></i>
                      <p>Upgrade</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6" style="display:flex;">
        <div class="card products-card">
          <header class="card-header">
            <p class="card-header-title">
              Vscode
            </p>
            <!-- <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a> -->
          </header>
          <div class="card-content">
            <div class="content">
                <h2 class="subtitle">Free</h2>
                <ul>
                  <li>
                    <i aria-hidden="true" class="fa fa-tachometer"></i>
                    <p>Repository Dashboard</p>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-bars"></i>
                    <p>Architecture Diagram</p>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-code"></i>
                    <p>Class Browser</p>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-th-large"></i>
                    <p>Module Diagram</p>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-code-fork"></i>
                    <p>Route Tree Diagram</p>
                  </li>
                  <li>
                    <i aria-hidden="true" class="fa fa-exchange"></i>
                    <p>Import Diagram</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>