--- 
layout: default 
---
<div class="container">    
<div class="products">
  <h4 class="title is-4">Products</h4>
  <div class="copilot-container">
    <div class="title">
      <p class="subtitle is-4">Angular Copilot</p>
      <span style="flex:1;"></span>
      <a href="https://github.com/AngularDoc/angulardoc.github.io/releases/download/v0.9.0/Angular-Copilot-v0.9.0.dmg" target="_blank" class="button is-primary is-medium">
            <i class="fa fa-apple"></i> Download for Mac
        </a>
      <a href="https://github.com/AngularDoc/angulardoc.github.io/releases/download/v0.9.0/Angular-CopilotSetup-v0.9.0.exe" target="_blank"
        class="button is-primary is-medium">
            <i class="fa fa-windows"></i> Download for Windows
        </a>
    </div>
    <div class="card-container">
      <div class="card products-card">
        <header class="card-header">
          <p class="card-header-title">
            Free
          </p>
        </header>
        <div class="card-content">
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <p>
                <b>Repository Dashboard</b> -- central place to manage your repos, and to import the popular Angular repos
                from GitHub;
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p><b>Front end for the angular-cli</b> command-line tool -- "New Project" wizard to scaffold the Angular
                application using "ng new" command, and "New Component" dialog to generate blueprints using "ng generate"
                command;
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p><b>Architecture Diagram</b> -- animated overall architecture of your AngularJS/angular project, such as the
                bootstrap class, modules, components, and routes
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p><b>Class Browser</b> -- classes viewed by the component types, with the convenience of searching and filtering;
                one click to open the source code in VS Code
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p><b>Module Diagram</b> to view the module's composition, imports, and exports
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p><b>Route Tree Diagram</b> -- hierarchical tree of the routes and the implementing components
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p><b>Import Diagram</b> for visualizing all the Importing relationships between your classes
              </p>
            </li>
          </ul>
          <hr>
          <p><b>Prerequisites</b> -- Node/npm; angular-cli; git; and VS Code as code editor
        </div>
      </div>
      <div style="width:12px;"></div>
      <div class="card products-card">
        <header class="card-header">
          <p class="card-header-title">
            Premium (AngularJS-to-Angular Migration)
          </p>
        </header>
        <div class="card-content">
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <p>Scaffolding Angular shell for the AngularJS application with Angular CLI
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>Migrating bower.json
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>Quick configuration of global scripts, styles, and/or static assets
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>Auto configuration of UpgradeModule to bootstrap the AngularJS app
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>Graphical summary of the migration progress
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>Incremental migration of individual components from JavaScript to TypeScript
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>(VS Code extension) Quick fix of the AngularJS constructs in the component and template files
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>One-click migration of the routes
              </p>
            </li>
          </ul>
          <hr>
          <p>The migration feature is available free of charge to open source projects; otherwise there is an one-time fee for each project to be migrated. Please <a class="button is-small is-primary" href="/contact">contact us</a> if you are interested.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copilot-container">
    <div class="title">
      <p class="subtitle is-4">AngularDoc for Visual Studio Code</p>
      <span style="flex:1;"></span>
      <a class="button is-primary is-medium" target="_blank" href="https://marketplace.visualstudio.com/items?itemName=AngularDoc.angulardoc-vscode">Visual Studio Marketplace</a>
    </div>
    <div class="card-container">
      <div class="card products-card">
        <header class="card-header">
          <p class="card-header-title">
            Free
          </p>
        </header>
        <div class="card-content">
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <p>Full integration of angular-cli generate commands (e.g. ng g component) on the explorer's context menu
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>Automatic metadata submission &amp; synchronization to angulardoc.io for analysis
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>"AngularDoc" editor for visualizing the architecture, classes, modules, routes, and imports.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div style="width:12px;"></div>
      <div class="card products-card">
        <header class="card-header">
          <p class="card-header-title">
            Premium (AngularJS-to-Angular Migration)
          </p>
        </header>
        <div class="card-content">
          <ul>
            <li>
              <i class="fa fa-check"></i>
              <p>Error markers and quick fix of the AngularJS constructs in the component files
              </p>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <p>Error markers and quick fix of the AngularJS constructs in the HTML templates
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>