--- 
layout: default 
---
<div class="products">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-6" style="display:flex;">
        <div class="card products-card">
          <header class="card-header">
            <p class="card-header-title">
              Free
            </p>
            <!-- <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a> -->
          </header>
          <div class="card-content">
            <div class="content">
              <div class="columns">
                <div class="column is-6">
                  <ul>
                    <li>
                      <p><b>Repository Dashboard</b> -- central place to manage your repos, and to import the popular Angular repos from GitHub;
                      </p>
                    </li>
                    <li>
                      <p><b><Front end for the angular-cli/b></Front> command-line tool -- "New Project" wizard to scaffold the Angular application using "ng new" command,
                      and "New Component" dialog to generate blueprints using "ng generate" command;
                      </p>
                    </li>
                    <li>
                      <p><b>Architecture Diagram</b> -- animated overall architecture of your AngularJS/angular project, such as the bootstrap class, modules, components, and routes
                      </p>
                    </li>
                    <li>
                      <p><b>Class Browser</b> -- classes viewed by the component types, with the convenience of searching and filtering; one click to open the source code in VS Code
                      </p>
                    </li>
                    <li>
                      <p><b>Module Diagram</b> to view the module's composition, imports, and exports
                      </p>
                    </li>
                    <li>
                      <p><b>Route Tree Diagram</b> -- hierarchical tree of the routes and the implementing components
                      </p>
                    </li>
                    <li>
                      <p><b>Import Diagram</b> for visualizing all the Importing relationships between your classes                        
                      </p>
                    </li>
                    <li>
                      <p><b>Prerequisites</b> -- Node/npm; angular-cli; git; and VS Code as code editor                       
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-6" style="display:flex;">
        <div class="card products-card">
          <header class="card-header">
            <p class="card-header-title">
              Premium (AngularJS-to-Angular Migration)              
            </p>
            <!-- <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a> -->
          </header>
          <div class="card-content">
            <div class="content">
                <ul>
                  <li>
                    <p>Scaffolding Angular shell for the AngularJS application with Angular CLI
                    </p>
                  </li>
                  <li>
                    <p>Migrating bower.json
                    </p>
                  </li>
                  <li>
                    <p>Quick configuration of global scripts, styles, and/or static assets
                    </p>
                  </li>
                  <li>
                    <p>Auto configuration of UpgradeModule to bootstrap the AngularJS app
                    </p>
                  </li>
                  <li>
                    <p>Graphical summary of the migration progress
                    </p>
                  </li>
                  <li>
                    <p>Incremental migration of individual components from JavaScript to TypeScript
                    </p>
                  </li>
                  <li>
                    <p>(Vs Code extension) Quick fix of the AngularJS references in the component and template files
                    </p>
                  </li>
                  <li>
                    <p>One-click migration of the routes
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>