--- 
layout: default 
---
<div class="resources">
  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            <style>
              .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
              }

              .embed-container iframe,
              .embed-container object,
              .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            </style>
            <div class='embed-container'>
              <iframe title="YouTube video player" width="560" height="315" src="//www.youtube.com/embed/eS-d_a-TND8" frameborder="0"
                allowfullscreen></iframe>
            </div>
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Migrating AngularJS Applications with AngularDoc -Part One
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            <img src="{{ '/assets/img/vscode.gif'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Vscode
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            <img src="{{ '/assets/img/vscode-1.gif'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Vscode
          </div>
        </div>
      </div>
    </div>
  </div>
</div>