--- 
layout: default 
---
<div class="resources">
  <div class="columns">
    <div class="column is-6">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            <div class='embed-container'>
              <iframe title="YouTube video player" width="1024" height="768" src="//www.youtube.com/embed/eS-d_a-TND8" frameborder="0"
                allowfullscreen></iframe>
            </div>
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Migrating AngularJS Applications with AngularDoc -Part One
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            <img src="{{ '/assets/img/vscode.gif'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Vscode
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            <img src="{{ '/assets/img/vscode-1.gif'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Vscode
          </div>
        </div>
      </div>
    </div>
  </div>
</div>