--- 
layout: default
---
<div class="resources">
  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            {% youtube "https://www.youtube.com/watch?v=eS-d_a-TND8" %}
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Copilot
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            <img src="{{ '/assets/img/vscode.gif'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Vscode
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by2">
            <img src="{{ '/assets/img/vscode-1.gif'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Vscode
          </div>
        </div>
      </div>
    </div>
  </div>
</div>