--- 
layout: default 
---
<div class="services">
  <div class="columns">
    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image ">
            <img src="https://placehold.it/1280x960" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Electron
          </div>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image ">
            <img src="{{ '/assets/img/ng-logo.png'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
            Angularjs
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image ">
              <img src="{{ '/assets/img/angular2.png'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Angular
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image ">
              <img src="https://placehold.it/1280x960" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="panel-block-item">
              React
            </div>
          </div>
        </div>
      </div>
  
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image ">
              <img src="https://placehold.it/1280x960" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="panel-block-item">
              Node
            </div>
          </div>
        </div>
      </div>
  
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image ">
              <img src="https://placehold.it/1280x960" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="panel-block-item">
              Vscode
            </div>
          </div>
        </div>
      </div>
    </div>
</div>