--- 
layout: default 
---
<div class="services">
  <h3 class="title">We specialize web development…</h3>
  <div class="columns">
    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="image ">
            <img src="{{ '/assets/img/electron.png'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Electron
          </div>
        </div>
      </div>
    </div>

    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="angular image">
            <img src="{{ '/assets/img/angular.svg'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Angular
          </div>
        </div>
      </div>
    </div>
    <div class="column is-2">
        <div class="card">
          <div class="card-image">
            <figure class="upgrade image ">
              <img src="{{ '/assets/img/upgrade.png'}}" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            Upgrade
          </div>
        </div>
      </div>
    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="image react">
            <img src="{{ '/assets/img/react.svg'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            React
          </div>
        </div>
      </div>
    </div>

    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="node image ">
            <img src="{{ '/assets/img/node.svg'}}" alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Node
          </div>
        </div>
      </div>
    </div>

    <div class="column is-2">
      <div class="card">
        <div class="card-image">
          <figure class="vscode image ">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTIxIDBsLTExIDEyLTcuMzMzLTUuNjY2LTIuNjY3IDEuNjgydjEzLjk4NGwyLjY2NyAxLjY2NiA3LjMzMy01LjY2NiAxMSAxMSA3LTN2LTIyLjMzM2wtNy0zLjY2N3ptLTE4IDE5di05bDQgNS00IDR6bTExLTRsNy02djEybC03LTZ6Ii8+PC9zdmc+"
              alt="Image">
          </figure>
        </div>
        <div class="card-content">
          <div class="panel-block-item">
            Vscode
          </div>
        </div>
      </div>
    </div>
  </div>
</div>